.App {
  /* text-align: center; */
}
.valign{
  display: flex;
}

.mainDetails{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.productBox{
    border: 1px solid;
    width: 200px;
    height: fit-content;
    margin: 50px 10px 0px;
    padding: 10px;
    border-radius: 5px;
}
